<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Sin este permiso Retrofit falla con "Unable to resolve host" / SecurityException -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- El acelerómetro es opcional: la app no crashea si falta (SensorFragment lo valida) -->
    <!-- >>> CAMBIAR AQUÍ <<< si cambias de sensor: android.hardware.sensor.light / android.hardware.sensor.proximity -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <!-- Sin usesCleartextTraffic: la API de ejemplo es HTTPS. Si tu enunciado usa http://, ver GUIA_ADAPTACION.md -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabModelo"
        tools:targetApi="34">
        <!-- Una sola Activity: aloja el NavHostFragment -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
